body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.mareTitle {
  margin-bottom: 0;
  font-family: 'Lora', serif;
  font-style: italic;
  display: inline;
  color: #006B56;
}

h4 {
  margin-top: 17;
  margin-bottom: 0;
}

input[type=text], select {
  padding: 8px 14px;
  margin: 0 0;
  display: inline-flex;
  border: 1px solid #006B56;
  border-radius: 5px;
  box-sizing: border-box;
}

.inputWord {
  width: 30%;
}


.formButtons, .gender, .number, .case, .degree, .person, .mood, .tense, .voice {
  display: inline-flex;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25)
}

/* radio button styling */
.formButtons, .gender, .number, .person, .voice, .degree {
  width: 30%;
  display: flex;
}

/* drop-down styling */
.case, .tense, .mood {
  -webkit-appearance: none !important;
  -moz-appearance:    none;
  appearance:         none !important;
}

/* remove buttons from radios */
.formButtonsInput {
  display: none;
}

.formButtonsLabel {
  padding: 8px 14px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #009578;
  cursor: pointer;
  transition: background-color 0.1s;
  text-align: center;
  flex: 1;
}

.formButtonsLabel:not(:last-of-type) {
  border-right: 1px solid #006B56;
}

.formButtonsInput:checked + .formButtonsLabel {
  background-color: #006B56;
}

.morph {
  padding: 8px 14px;
  margin: 0 0;
  display: inline-block;
  border: 1px solid #006B56;
  border-radius: 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .formButtons, .gender, .number, .person, .voice, .degree {
    width: 100%;
    display: flex;
  }
  .inputWord {
    width: 100%;
  }
}