<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../static/app.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>

<h1>Latin Lemmatizer</h1>
<form id = "lemmatizerForm" action="#" method = "post">
    <p>
    <input type="text" name="wd" placeholder="Word" class="inputWord" />
    </p>
    Part of Speech
    <div class="formButtons">
          <input type="radio" name="wanted_pos" id="noun" value="noun" class="formButtonsInput" />
          <label for="noun" class="formButtonsLabel">
              <span>Noun</span>
          </label>
          <input type="radio" name="wanted_pos" id="verb" value="verb" class="formButtonsInput" />
          <label for="verb" class="formButtonsLabel">
              <span>Verb</span>
          </label>
          <input type="radio" name="wanted_pos" id="adjective" value="adjective" class="formButtonsInput" />
          <label for="adjective" class="formButtonsLabel">
              <span>Adjective</span>
          </label>
    </div>
  

<!-- Noun Options -->

<!---
<div class="noun adjective" style="display: none">
  <p><label for="gender">Gender:</label>
    <select name="gender" id="gender">
      <option value="NULL" selected></option>
      <option value="masculine">Masculine</option>
      <option value="feminine">Feminine</option>
      <option value="neuter">Neuter</option>
    </select>
  </p>
</div>
-->

<div class="noun adjective" style="display: none">
  Gender
  <div class="gender">
  <label for="gender"></label>
      <input type="radio" name="gender" id="genderNULL" value="NULL" class="formButtonsInput" checked />
      <label for="genderNULL" class="formButtonsLabel">
          <span>None</span>
      </label>
      <input type="radio" name="gender" id="masculine" value="masculine" class="formButtonsInput" />
      <label for="masculine" class="formButtonsLabel">
          <span>Masculine</span>
      </label>
      <input type="radio" name="gender" id="feminine" value="feminine" class="formButtonsInput" />
      <label for="feminine" class="formButtonsLabel">
          <span>Feminine</span>
      </label>
      <input type="radio" name="gender" id="neuter" value="neuter" class="formButtonsInput" />
      <label for="neuter" class="formButtonsLabel">
          <span>Neuter</span>
      </label>
  </div>
</div>

<div class="verb" style="display: none">
  Person
  <div class="person">
  <label for="person"></label>
      <input type="radio" name="person" id="verbNULL" value="NULL" class="formButtonsInput" checked />
      <label for="verbNULL" class="formButtonsLabel">
          <span>None</span>
      </label>
      <input type="radio" name="person" id="first" value="first" class="formButtonsInput" />
      <label for="first" class="formButtonsLabel">
          <span>First</span>
      </label>
      <input type="radio" name="person" id="second" value="second" class="formButtonsInput" />
      <label for="second" class="formButtonsLabel">
          <span>Second</span>
      </label>
      <input type="radio" name="person" id="third" value="third" class="formButtonsInput" />
      <label for="third" class="formButtonsLabel">
          <span>Third</span>
      </label>
</div>
</div>


<div class="noun verb adjective" style="display: none">
  Number
  <div class="number">
  <label for="number"></label>
      <input type="radio" name="number" id="numberNULL" value="NULL" class="formButtonsInput" checked />
      <label for="numberNULL" class="formButtonsLabel">
          <span>None</span>
      </label>
      <input type="radio" name="number" id="singular" value="singular" class="formButtonsInput" />
      <label for="singular" class="formButtonsLabel">
          <span>Singular</span>
      </label>
      <input type="radio" name="number" id="plural" value="plural" class="formButtonsInput" />
      <label for="plural" class="formButtonsLabel">
          <span>Plural</span>
      </label>
</div>
</div>
  
<div class="noun adjective" style="display: none">
  Case
  <br>
<div class ="case">
  <label for="case"></label>
      <select name="case" id="case">
        <option value="NULL" selected></option>
        <option value="nominative">Nominative</option>
        <option value="genitive">Genitive</option>
        <option value="dative">Dative</option>
        <option value="accusative">Accusative</option>
        <option value="ablative">Ablative</option>
        <option value="vocative">Vocative</option>
        <option value="locative">Locative</option>
      </select>
    </div>
</div>

<!-- Verb Options -->
<div class="verb" style="display: none">
  Tense
  <br>
  <div class="tense">
    <label for="tense"></label>
      <select name="tense" id="tense">
        <option value="NULL" selected></option>
        <option value="present">Present</option>
        <option value="imperfect">Imperfect</option>
        <option value="perfect">Perfect</option>
        <option value="pluperfect">Pluperfect</option>
        <option value="future perfect">Future Perfect</option>
        <option value="future">Future</option>
      </select>
  </div>

    <div class="verb" style="display: none">
      Voice
      <div class="voice">
      <label for="voice"></label>
          <input type="radio" name="voice" id="voiceNULL" value="NULL" class="formButtonsInput" checked />
          <label for="voiceNULL" class="formButtonsLabel">
              <span>None</span>
          </label>
          <input type="radio" name="voice" id="active" value="active" class="formButtonsInput" />
          <label for="active" class="formButtonsLabel">
              <span>Active</span>
          </label>
          <input type="radio" name="voice" id="passive" value="passive" class="formButtonsInput" />
          <label for="passive" class="formButtonsLabel">
              <span>Passive</span>
          </label>
        </div>
    </div>

    Mood
    <br>
    <div class="mood">
    <label for="mood"></label>
        <select name="mood" id="mood">
          <option value="NULL" selected></option>
          <option value="indicative">Indicative</option>
          <option value="subjunctive">Subjunctive</option>
          <option value="infinitive">Infinitive</option>
          <option value="imperative">Imperative</option>
          <option value="gerund">Gerund</option>
          <option value="gerundive">Gerundive</option>
        </select>
  </div>
</div>


<!-- Adverb Options
<div class="adverb" style="display: none">
    <p><label for="degree">Degree:</label>
      <select name="degree" id="degree">
        <option value="NULL" selected></option>
        <option value="positive">Positive</option>
        <option value="comparative">Comparative</option>
        <option value="superlative">Superlative</option>
      </select>
    </p>
</div>
-->

<!-- Adjective Options -->
<div class="adjective" style="display: none">
  Degree
  <div class="degree">
  <label for="degree"></label>
      <input type="radio" name="degree" id="degreeNULL" value="NULL" class="formButtonsInput" checked />
      <label for="degreeNULL" class="formButtonsLabel">
          <span>None</span>
      </label>
      <input type="radio" name="degree" id="positive" value="positive" class="formButtonsInput" />
      <label for="positive" class="formButtonsLabel">
          <span>Positive</span>
      </label>
      <input type="radio" name="degree" id="comparative" value="comparative" class="formButtonsInput" />
      <label for="comparative" class="formButtonsLabel">
          <span>Comparative</span>
      </label>
      <input type="radio" name="degree" id="superlative" value="superlative" class="formButtonsInput" />
      <label for="superlative" class="formButtonsLabel">
          <span>Superlative</span>
      </label>
</div>
</div>

<p><input type="submit" value="Morph" class="morph" /></p>



    <!--
    def get_greek_form(word = "NULL", id = "NULL", case = "NULL",
              number = "NULL", gender = "NULL", mood = "NULL", 
              person = "NULL", tense = "NULL", voice = "NULL",
                degree = "NULL", wanted_pos = "NULL"):
    #check if word is null - use ID in that case
    -->

    <div id="tapeTitle"></div>
    <div id="tape"></div>

</form>
</html>