<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../static/app.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>

<h2>Latin Lemmatizer</h2>
<form id = "lemmatizerForm" action="#" method = "post">
    <p>
    <input type="text" name="wd" placeholder="Word" />
    </p>
    <div class="formButtons">
          <input type="radio" name="wanted_pos" id="noun" value="noun" class="formButtonsInput" />
          <label for="noun" class="formButtonsLabel">
              <span>Noun</span>
          </label>
          <input type="radio" name="wanted_pos" id="verb" value="verb" class="formButtonsInput" />
          <label for="verb" class="formButtonsLabel">
              <span>Verb</span>
          </label>
          <input type="radio" name="wanted_pos" id="adjective" value="adjective" class="formButtonsInput" />
          <label for="adjective" class="formButtonsLabel">
              <span>Adjective</span>
          </label>
    </div>
  

<!-- Noun Options -->

<!---
<div class="noun adjective" style="display: none">
  <p><label for="gender">Gender:</label>
    <select name="gender" id="gender">
      <option value="NULL" selected></option>
      <option value="masculine">Masculine</option>
      <option value="feminine">Feminine</option>
      <option value="neuter">Neuter</option>
    </select>
  </p>
</div>
-->

<div class="noun adjective" style="display: none">
  <p><label for="gender">Gender</label>
      <input type="radio" name="gender" id="NULL" value="NULL" checked />
      <label for="NULL">
          <span>None</span>
      </label>
      <input type="radio" name="gender" id="masculine" value="masculine" />
      <label for="masculine">
          <span>Masculine</span>
      </label>
      <input type="radio" name="gender" id="feminine" value="feminine" />
      <label for="feminine">
          <span>Feminine</span>
      </label>
      <input type="radio" name="gender" id="neuter" value="neuter" />
      <label for="neuter">
          <span>Neuter</span>
      </label>
  </p>
</div>

<div class="verb" style="display: none">
  <p><label for="person">Person</label>
      <input type="radio" name="person" id="NULL" value="NULL" checked />
      <label for="NULL">
          <span>None</span>
      </label>
      <input type="radio" name="person" id="first" value="first" />
      <label for="first">
          <span>First</span>
      </label>
      <input type="radio" name="person" id="second" value="second" />
      <label for="second">
          <span>Second</span>
      </label>
      <input type="radio" name="person" id="third" value="third" />
      <label for="third">
          <span>Third</span>
      </label>
  </p>
</div>


<div class="noun verb adjective" style="display: none">
  <p><label for="number">Number</label>
      <input type="radio" name="number" id="NULL" value="NULL" checked />
      <label for="noun">
          <span>None</span>
      </label>
      <input type="radio" name="number" id="singular" value="singular" />
      <label for="singular">
          <span>Singular</span>
      </label>
      <input type="radio" name="number" id="plural" value="plural" />
      <label for="plural">
          <span>Plural</span>
      </label>
  </p>
</div>
  
<div class="noun adjective" style="display: none">
  <p><label for="case">Case:</label>
      <select name="case" id="case">
        <option value="NULL" selected></option>
        <option value="nominative">Nominative</option>
        <option value="genitive">Genitive</option>
        <option value="dative">Dative</option>
        <option value="accusative">Accusative</option>
        <option value="ablative">Ablative</option>
        <option value="vocative">Vocative</option>
        <option value="locative">Locative</option>
      </select>
  </p>
</div>

<!-- Verb Options -->
<div class="verb" style="display: none">
    <p><label for="tense">Tense:</label>
      <select name="tense" id="tense">
        <option value="NULL" selected></option>
        <option value="present">Present</option>
        <option value="imperfect">Imperfect</option>
        <option value="perfect">Perfect</option>
        <option value="pluperfect">Pluperfect</option>
        <option value="future perfect">Future Perfect</option>
        <option value="future">Future</option>
      </select>
    </p>

    <div class="verb" style="display: none">
      <p><label for="voice">Voice</label>
          <input type="radio" name="voice" id="NULL" value="NULL" checked />
          <label for="none">
              <span>None</span>
          </label>
          <input type="radio" name="voice" id="active" value="active" />
          <label for="active">
              <span>Active</span>
          </label>
          <input type="radio" name="voice" id="passive" value="passive" />
          <label for="passive">
              <span>Passive</span>
          </label>
      </p>
    </div>

    <p><label for="mood">Mood:</label>
        <select name="mood" id="mood">
          <option value="NULL" selected></option>
          <option value="indicative">Indicative</option>
          <option value="subjunctive">Subjunctive</option>
          <option value="infinitive">Infinitive</option>
          <option value="imperative">Imperative</option>
          <option value="gerund">Gerund</option>
          <option value="gerundive">Gerundive</option>
        </select>
    </p>
</div>


<!-- Adverb Options
<div class="adverb" style="display: none">
    <p><label for="degree">Degree:</label>
      <select name="degree" id="degree">
        <option value="NULL" selected></option>
        <option value="positive">Positive</option>
        <option value="comparative">Comparative</option>
        <option value="superlative">Superlative</option>
      </select>
    </p>
</div>
-->

<!-- Adjective Options -->
<div class="adjective" style="display: none">
  <p><label for="degree">Degree</label>
      <input type="radio" name="degree" id="NULL" value="NULL" checked />
      <label for="NULL">
          <span>None</span>
      </label>
      <input type="radio" name="degree" id="positive" value="positive" />
      <label for="positive">
          <span>Positive</span>
      </label>
      <input type="radio" name="degree" id="comparative" value="comparative" />
      <label for="comparative">
          <span>Comparative</span>
      </label>
      <input type="radio" name="degree" id="superlative" value="superlative" />
      <label for="superlative">
          <span>Superlative</span>
      </label>
  </p>
</div>

<p><input type="submit" value="Morph" /></p>



    <!--
    def get_greek_form(word = "NULL", id = "NULL", case = "NULL",
              number = "NULL", gender = "NULL", mood = "NULL", 
              person = "NULL", tense = "NULL", voice = "NULL",
                degree = "NULL", wanted_pos = "NULL"):
    #check if word is null - use ID in that case
    -->

    <div id="tapeTitle"></div>
    <div id="tape"></div>

</form>
</html>