<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../static/app.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>

<h2>Latin Lemmatizer</h2>
<form id = "lemmatizerForm" action="#" method = "post">
    <p>
    <input type="text" name="wd" placeholder="Word" />
    </p>
    <div class="formButtons">
      <p>
          <input type="radio" name="wanted_pos" id="noun" value="noun" />
          <label for="noun">
              <span>Noun</span>
          </label>
          <input type="radio" name="wanted_pos" id="verb" value="verb" />
          <label for="verb">
              <span>Verb</span>
          </label>
          <input type="radio" name="wanted_pos" id="adjective" value="adjective" />
          <label for="adjective">
              <span>Adjective</span>
          </label>
      </p>
      <span class="slider"></span>
  </div>
  

<!-- Noun Options -->

<div class="noun adjective" style="display: none">
  <p><label for="gender">Gender:</label>
    <select name="gender" id="gender">
      <option value="NULL" selected></option>
      <option value="masculine">Masculine</option>
      <option value="feminine">Feminine</option>
      <option value="neuter">Neuter</option>
    </select>
  </p>
</div>

<div class="verb" style="display: none">
  <p><label for="person">Person:</label>
    <select name="person" id="person">
      <option value="NULL" selected></option>
      <option value="first">First</option>
      <option value="second">Second</option>
      <option value="third">Third</option>
    </select>
  </p>
</div>


<div class="noun verb adjective" style="display: none">
  <p><label for="number">Number:</label>
    <select name="number" id="number">
      <option value="NULL" selected></option>
      <option value="singular">Singular</option>
      <option value="plural">Plural</option>
    </select>
  </p>
</div>
  
<div class="noun adjective" style="display: none">
  <p><label for="case">Case:</label>
      <select name="case" id="case">
        <option value="NULL" selected></option>
        <option value="nominative">Nominative</option>
        <option value="genitive">Genitive</option>
        <option value="dative">Dative</option>
        <option value="accusative">Accusative</option>
        <option value="ablative">Ablative</option>
        <option value="vocative">Vocative</option>
        <option value="locative">Locative</option>
      </select>
  </p>
</div>

<!-- Verb Options -->
<div class="verb" style="display: none">
    <p><label for="tense">Tense:</label>
      <select name="tense" id="tense">
        <option value="NULL" selected></option>
        <option value="present">Present</option>
        <option value="imperfect">Imperfect</option>
        <option value="perfect">Perfect</option>
        <option value="pluperfect">Pluperfect</option>
        <option value="future perfect">Future Perfect</option>
        <option value="future">Future</option>
      </select>
    </p>

    <p><label for="voice">Voice:</label>
      <select name="voice" id="voice">
        <option value="NULL" selected></option>
        <option value="active">Active</option>
        <option value="passive">Passive</option>
      </select>
    </p>

    <p><label for="mood">Mood:</label>
        <select name="mood" id="mood">
          <option value="NULL" selected></option>
          <option value="indicative">Indicative</option>
          <option value="subjunctive">Subjunctive</option>
          <option value="infinitive">Infinitive</option>
          <option value="imperative">Imperative</option>
          <option value="gerund">Gerund</option>
          <option value="gerundive">Gerundive</option>
        </select>
    </p>
</div>


<!-- Adverb Options
<div class="adverb" style="display: none">
    <p><label for="degree">Degree:</label>
      <select name="degree" id="degree">
        <option value="NULL" selected></option>
        <option value="positive">Positive</option>
        <option value="comparative">Comparative</option>
        <option value="superlative">Superlative</option>
      </select>
    </p>
</div>
-->

<!-- Adjective Options -->
<div class="adjective" style="display: none">
  <p><label for="degree">Degree:</label>
    <select name="degree" id="degree">
      <option value="NULL" selected></option>
      <option value="positive">Positive</option>
      <option value="comparative">Comparative</option>
      <option value="superlative">Superlative</option>
    </select>
  </p>

</div>

<p><input type="submit" value="Morph" /></p>



    <!--
    def get_greek_form(word = "NULL", id = "NULL", case = "NULL",
              number = "NULL", gender = "NULL", mood = "NULL", 
              person = "NULL", tense = "NULL", voice = "NULL",
                degree = "NULL", wanted_pos = "NULL"):
    #check if word is null - use ID in that case
    -->

    <div id="tapeTitle"></div>
    <div id="tape"></div>

</form>
</html>