<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/app.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <title>mare // home</title>
</head>
<body class = "homeBody">
    <h1>mare // home 🏠</h1>
    <p>hey, we're building sick tools for classics scholars and enthusiasts.</p>
    <p>
        <ul class = "homeNav">
            <li><a href = "/form">Latin Lemmatizer</a></li>
            <li>Latin Dictionary</li>
            <li>Greek Lemmatizer</li>
            <li>Greek Dictionary</li>
            <li>iOS App</li>
            <li style="margin: -3px 0px">API (for developers) 👩🏽‍💻</li>
        </ul>
    </p>
</body>
</html>